h1 a{
    text-decoration: none;
    color: black;
}

#backgroundOfGame{
    background-image: linear-gradient(45deg,rgb(27, 115, 192),rgb(27, 192, 167));
    padding: 10px 0px;
}

.transparent-white{
    background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.256),rgba(255, 255, 255, 0.732));
    color: white;
}

.transparent-black{
    background-color: rgba(32, 31, 31, 0.855);
    color: white;
}

.card-group>.card{
    background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.256),rgba(255, 255, 255, 0.732));
    background-color: transparent;
    border: white solid 1px;
    color: white;
    text-align: center;
}

.card :nth-last-child(1){
    height: 100px;
    width: auto;
}

.card div>*{
    width: 100%;
}

#scissors-img{
    transform: scale(50%);
}

main *{
    text-align: center;
}

.choicesOfRound{
    flex-direction: row;
    justify-content: space-evenly;
}

#start-chooseNbrRound{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.row-nbrOfRounds{
    display: flex;
    justify-content: center;
}

.nbrOfRounds{
    width: 3em;
    text-align: center;
    margin: 5px;
}