*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: calc(100vh-(4*var(--marginHMF)));
    display: flex;
    flex-direction: column;
}

body>*{
    border: black solid;
    --marginHMF: 10px; /* HMF: Header Main Footer */
    margin: var(--marginHMF);
}

main{
    flex-grow: 1;
}