*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body>*{
    border: black solid;
    --marginHMF: 10px; /* HMF: Header Main Footer */
    margin: var(--marginHMF);
    padding: 5px; 
}

main{
   flex-grow: 1; 
}

footer{
    text-align: right;
}