*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body>*{
    border: black solid;
    --marginHMF: 10px; /* HMF: Header Main Footer */
    margin: var(--marginHMF);
    padding: 5px; 
}

main{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}

main>*{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-button{
   text-align: center; 
}

.container-getStarted{
    height: 50%;
    width: auto;
    background-color: rgb(27, 115, 192);
    background-image: url(Pictures/hallo.png);
    background-size: 10%;
}

.container-howToPlay{
    border: black solid;
    margin-top: 5px;
    padding-top: 10px;
    flex: 1;
}

#button-startGame{
    text-transform: uppercase;
    --bs-btn-font-size: 2rem;
    --bs-btn-border-color: rgb(255, 255, 255);
}

#button-startGame a{
    color: white;
    text-decoration: none;
}

#button-howToPlay{
    --bs-btn-bg: rgb(105, 105, 105);
    --bs-btn-border-color: rgb(17, 17, 17);
}
#button-howToPlay:hover{
    background-color: rgb(86, 86, 86);
    --bs-btn-border-color: rgb(0, 0, 0);
}

footer{
    text-align: right;
}

@media screen and (max-width: 500px) {
    #container-button-getStarted{
        height: 30%;
    }
}
